* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px 35px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkgray;
  box-shadow: 0 5px 35px lightgray;
}

header h1 {
  font-weight: bold;
  color: lightgray;
  background-color: rgb(48, 78, 174);
  font-size: 4vw;
  margin: 0;
  padding: 5px 1% 5px 6%;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  font-weight: bold;
  font-size: 1.5vw;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(48, 78, 174);
}

nav a:hover {
  background-size: 100% 100%;
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero {
  background-image: url(../Images/—Pngtree—fashion\ simple\ blue\ gradient\ background_496289.jpg),
    linear-gradient(180deg, lightblue 0%, darkgray 100%);
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  background-blend-mode: soft-light;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.hero div {
  flex: 0 0 90%;
}

.hero h2 {
  color: lightgray;
  font: bold;
  background-color: rgb(48, 78, 174);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.section-title {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 20%;
  color: rgb(48, 78, 174);
  border-right: 4px solid rgb(48, 78, 174);
  padding: 0px 10px;
  font-size: 45px;
  text-align: right;
}

.section-text {
  padding: 30px;
  line-height: 1.5;
}

.projects-section {
  width: 100%;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile-surf {
  border: 8px solid rgb(48, 78, 174);
  max-width: 100%;
  box-shadow: 0 20px 35px lightgray;
  margin: 0 10px 0 10px;
}

.project-tile {
  border: 8px solid rgb(48, 78, 174);
  width: 47.5%;
  margin: 10px;
  box-shadow: 0 5px 35px lightgray;
}

.tile-text {
  background: rgb(48, 78, 174);
}

.tile-text h3 {
  margin: 0;
}

.project-tile img {
  width: 100%;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-me a {
  text-decoration: none;
  color: black;
  border-bottom: 4px solid rgb(48, 78, 174);
  font-weight: lighter;
  font-size: 1.5vw;
  text-decoration: none;
  padding-bottom: 5px;
}
