* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: 1.5;
}

header {
  padding: 20px 35px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkgray;
  box-shadow: 0 5px 35px lightgray;
}

header h1 {
  font-weight: bold;
  color: lightgray;
  background-color: rgb(48, 78, 174);
  font-size: 4vw;
  margin: 0;
  padding: 5px 1% 5px 6%;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  font-weight: bold;
  font-size: 1.5vw;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(48, 78, 174);
}

nav a:hover {
  background-size: 100% 100%;
  color: white;
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero {
  background-color: lightblue;
  background-image: url(../Images/—Pngtree—fashion\ simple\ blue\ gradient\ background_496289.jpg),
    linear-gradient(180deg, lightblue 0%, darkgray 100%);
  background-size: cover;
  min-height: 30vh;
  background-position: center;
  background-blend-mode: soft-light;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.hero div {
  flex: 0 0 90%;
}
.hero img {
  max-height: 30vw;
}

.hero h2 {
  color: lightgray;
  font: bold;
  background-color: rgb(48, 78, 174);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.sections h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid rgb(48, 78, 174);
  font-size: 4vw;
  line-height: 1.1;
  color: rgb(48, 78, 174);
}

.sections div {
  flex: 0 0 77%;
}

.sections p {
  margin-bottom: 20px;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  border: 5px solid rgb(48, 78, 174);
  background-color: white;
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  background-image: url(../Images/run-buddy-screenshot.png);
}

.project-tile:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.project-tile:hover {
  background-color: white;
}

.project-tile div {
  background-color: rgb(48, 78, 174);
  padding: 8px 10px;
  color: white;
}

.project-tile h3 {
  font-size: 1.6rem;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.contact-me a {
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(
    270deg,
    var(--primary) 0%,
    var(--primary) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  border-bottom: 4px solid rgb(48, 78, 174);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  nav {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  nav a {
    font-size: 40px;
  }

  .sections {
    display: block;
  }

  .sections h2 {
    border-right: 0;
    border-bottom: 4px solid rgb(48, 78, 174);
    text-align: center;
    margin-bottom: 20px;
  }

  .sections p {
    margin: 20px;
  }

  .contact-me {
  }

  .contact-me a {
    margin: 0px 25px 0px 25px;
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
